<form class="edit-variable-form">
    <div class="grouped-inputs">
        <div class="form-item half-width">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" pattern="^\S+$" title="No spaces allowed" id="name" type="text" name="name" required
                   value="$$varName">
        </div>
        <div class="form-item half-width">
            <label class="form-label" >Select Command</label>
            <div class="search-select" data-local-action="openSearchSelect">
                <div class="search-select-input">
                    <input class="form-input" id="command" type="text" name="command" data-valid="true">
                    <img class="search-icon" src="../../assets/icons/search.svg" alt="search">
                </div>
                <div class="select-options hidden"></div>
            </div>
        </div>
    </div>
    <div class="execution-flags">
        <div class="form-item execution-flag-item conditional-command-item">
            <label class="form-label" for="conditional">Conditional</label>
            <input type="checkbox" class="form-checkbox" id="conditional" name="conditional">
        </div>
        <div class="form-item execution-flag-item force-command-item">
            <label class="form-label" for="forceExecution">Force Execution</label>
            <input type="checkbox" class="form-checkbox" id="forceExecution" name="forceExecution">
        </div>
    </div>
    <div class="form-item type hidden">
        <label class="form-label">Select type</label>
        <div class="select-type-container"></div>
    </div>
    <div class="form-item multi-line-expr-parameters hidden">
        <label class="form-label" for="parameters">Parameters</label>
        <input class="form-input" id="parameters" type="text" name="parameters">
    </div>
    <div class="form-item expression">
        <label class="form-label" for="expression">Expression</label>
        <textarea class="form-input expression-input" id="expression" name="expression" rows="1"></textarea>
        <textarea class="form-input expression-multi-line hidden"></textarea>
    </div>
    <div class="form-item">
        <label class="form-label">Preview</label>
        <textarea tabindex="-1" class="form-input expression-preview" readonly></textarea>
    </div>
    <button class="general-button save-variable disabled" data-local-action="editVariable">Apply</button>
</form>
