document-variable-details{
    display: block;
    width: 1100px;
}
document-variable-details textarea{
    resize: none;
}
document-variable-details .modal-body{
    height: calc(100% - 56px);
    padding: 0;
}
.tabs-section {
    padding: 15px 25px 0 25px;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid var(--border);
}

.tab {
    padding: 5px;
    display: flex;
    align-items: center;
}
.tab-icon{
    --icon-color: var(--text);
    width: 20px;
    height: 20px;
    background-color: var(--icon-color);
    margin-right: 5px;
}
.valuesTab{
    margin-right: 10px;
}
.values{
    -webkit-mask: url("./assets/icons/eye.svg") no-repeat center;
    mask: url("./assets/icons/eye.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.edit{
    -webkit-mask: url("./assets/icons/edit.svg") no-repeat center;
    mask: url("./assets/icons/edit.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.active {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}
.active .tab-icon{
    --settings-icon: var(--accent);
}

.tab-content {
    overflow-y: auto;
    width: 100%;
    padding: 25px;
}
